* {
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar {
    background: linear-gradient(to right, #ff6a00, #ee0979);
    height: 50px;
}

.nav-item a {
    font-weight: bold;
}

.nav-item a:hover {
    color: #fff;
}

img {
    width: 200px;
    justify-content: center;
    margin-top: 120px;
}


.home {
    width: auto;
    height: 90vh;
}

.home h1 {
    margin-top: 10px;
    text-align: center;
    color: black;
}

.home h3 {
    text-align: center;
    margin-top: 5px;
    color: rgb(97, 86, 86);
}

/* about */
.about {
    height: 90vh;
    text-align: center;
}

.card-p {
    width: 250px;
    background-color: #efefef;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: transform 0.3s;
    display: inline-block;
    border-radius: 25px;
}

.card-p:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #F40076, #342711);
    color: #fff;
}

.card-p img {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-p h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-p p {
    color: #777;
    font-size: 16px;
}


/* contact */

.contact {
    margin-top: 200px;
    height: 90vh;
}

.contact h2 {
    padding: 20px 20px 20px 0;
}

.card-ct {
    margin-top: 50px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    margin-left: 20px;
}

.card-ct:hover {
    transform: scale(1.1);
}

.card-ct img {
    width: 100px;
}

.card-ct a {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #F40076;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}